/* image styling */
.card .card-image,
.card .card-image .image img {
  height: 200px;
}

.around{
    justify-content: space-around;
}
@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/archivoblack/v10/HTxqL289NzCGg4MzN6KJ7eW6CYyF-w.ttf) format('truetype');
}
body {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #cfcfcf;
  background: linear-gradient(45deg, rgba(22, 167, 175, 0.6) 5%, rgba(23, 27, 158, 0.7) 55%, rgba(68, 9, 82, 0.5) 100%) no-repeat;
  background-size: 200%;
  color: #222;
}
html,
body {
  height: 100%;
}
.cards-wrapper {
  position: relative;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-wrapper {
  display: block;
  float: left;
  position: relative;
  margin: 0;
  width: 25%;
  height: 0;
  padding: 0 0 28%;
  perspective: 700px;
}
.card-object {
  color: #FFF;
  display: block;
  float: left;
  position: absolute;
  top: 6%;
  left: 6%;
  width: 55%;
  height: 55%;
  transform-style: preserve-3d;
}
 .card-object.card-1 .front {
  background: #222 url("../../public/images/Ian.png") 90% 35%;
  background-size: 115%;
}
.card-object.card-1 .back .img-wrapper {
  background: transparent url("../../public/images/Ian.png") 70% 45%;
  background-size: 160%;
}
.card-object.card-1 .back .avatar {
  background: transparent url("../../public/images/Ian.png") 40% 20%;
  background-size: 130% 130%;
}
 .card-object.card-2 .front {
  background: #222 url("../../public/images/Tela.jpg") 50% 90% no-repeat;
  background-size: 105%;
}
.card-object.card-2 .back .img-wrapper {
  background: transparent url("../../public/images/Tela.jpg") 70% 50%;
  background-size: 140%;
}
.card-object.card-2 .back .avatar {
  background: transparent url("../../public/images/Tela.jpg") 50% 50% no-repeat;
  background-size: 140% 140%;
}
/*
.card-object.card-3 .front {
  background: #222 url("./images/Rich.jpg") 80% 100% no-repeat;
  background-size: 108%;
}
.card-object.card-3 .back .img-wrapper {
  background: transparent url("./images/Rich.jpg") 90% 40% no-repeat;
  background-size: 115%;
}
.card-object.card-3 .back .avatar {
  background: #fff url("./images/Rich.jpg") 0 50% no-repeat;
  background-size: 120% 120%;
}
.card-object.card-4 .front {
  background: #222 url("./images/Felicia\ Harris\ Foster.jpg") 80% 100% no-repeat;
  background-size: 108%;
}
.card-object.card-4 .back .img-wrapper {
  background: transparent url("./images/Felicia\ Harris\ Foster.jpg") 90% 40% no-repeat;
  background-size: 115%;
}
.card-object.card-4 .back .avatar {
  background: #fff url("./images/Felicia\ Harris\ Foster.jpg") 0 50% no-repeat;
  background-size: 120% 120%;
} */
.card-object.flip-in.card-1,
.card-object.flip-in.card-3 {
  -webkit-animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
          animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
.card-object.flip-in.card-2,
.card-object.flip-in.card-4{
  -webkit-animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
          animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
.card-object.flip-out.card-1,
.card-object.flip-out.card-3 {
  animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
}
.card-object.flip-out.card-2,
.card-object.flip-out.card-4 {
  animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
}
.card-object-hf .back {
  transform: rotateX(180deg);
}
.face {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.face.front {
  z-index: 20;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.face.front::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  content: "";
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.1) 100%) no-repeat;
  opacity: 0.7;
  z-index: 20;
  transition: opacity 0.2s ease;
}
.face.front::after {
  position: absolute;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
  border: 1px solid rgba(255, 255, 255, 0.877);
  z-index: 100;
  content: "";
}
.face.front .title-wrapper {
  position: absolute;
  bottom: 3%;
  left: 25%;
  right: 25%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  z-index: 100;
  transform: translateY(0);
  transition: transform 0.28s ease;
}
.face.front .title-wrapper .title {
  color:#fff;
  position: relative;
  font-family: 'Archivo Black', sans-serif;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5vw;
  line-height: 1;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}
.face.front .title-wrapper .title::after {
  display: block;
  margin: 7% auto 8% auto;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #fff;
  opacity: 0.5;
  transform: scale(0);
  transition: transform 0.15s;
}
.face.front .title-wrapper .subtitle {
  color:#fff;
  font-size: 0.9vw;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity:1;
  transition: opacity 0.15s;
}
.face.front:hover::before {
  opacity: 0.9;
}
.face.front:hover .title-wrapper {
  transform: translateY(-50%);
}
.face.front:hover .title-wrapper .title {
  opacity: 1;
}
.face.front:hover .title-wrapper .title::after {
  transform: scale(1);
  opacity: 0.5;
  transition-delay: 0.15s;
  transition-duration: 0.2s;
}
.face.front:hover .title-wrapper .subtitle {
  opacity: 0.7;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}
.face.back {
  color: #222;
  background: #fff;
  z-index: 10;
}
.info-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  top: 6%;
  right: 6%;
  bottom: 6%;
  left: 6%;
  padding: 0;
}
.img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38%;
  z-index: 10;
}
.img-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(14, 6, 70, 0.6);
  opacity: 0.7;
}
.avatar {
  position: absolute;
  left: 50%;
  height: 68%;
  width: 25.84%;
  display: block;
  border-radius: 50%;
  margin-top: 25.08%;
  margin-left: -12.92%;
  background-color: #fff;
  border: 3px solid #FFF;
  z-index: 20;
}
.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 50.92%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4% 15% 15%;
}
.info-title {
  font-size: 1.5vw;
  font-family: 'Archivo Black', sans-serif;
  text-align: left;
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
  width: 100%;
}
.info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8% 0 0;
  margin: 8% 0 0;
  border-top: 1px solid #e0e0e0;
}
.info-content-item {
  color: #222;
  font-size: 0.75vw;
  line-height: 1;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #aaa;
}
.info-content-item span {
  display: block;
  font-weight: bold;
  font-size: 1.1vw;
  margin-top: 7px;
  text-transform: none;
  color: #222;
}
.info {
  position: absolute;
  bottom: 30px;
  left: 5%;
  right: 5%;
  font-size: 1em;
  text-align: center;
}
.info a {
  color: #8c0f8c;
  text-decoration: none;
}
.info a:hover {
  text-decoration: underline;
}
/* ----------------------------------------------
 * Generated by Animista on 2017-21-5 2:48:23
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation flip-2-hor-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes flip-2-hor-top-fwd {
  0% {
    transform: translateY(0) translateZ(0) rotateX(0);
    transform-origin: 50% 0%;
  }
  100% {
    transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
    transform-origin: 50% 100%;
  }
}
@keyframes flip-2-hor-top-fwd {
  0% {
    transform: translateY(0) translateZ(0) rotateX(0);
    transform-origin: 50% 0%;
  }
  100% {
    transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
    transform-origin: 50% 100%;
  }
}
/**
 * ----------------------------------------
 * animation flip-2-hor-bottom-fwd
 * ----------------------------------------
 */
@-webkit-keyframes flip-2-hor-bottom-fwd {
  0% {
    transform: translateY(0) translateZ(0) rotateX(0);
    transform-origin: 50% 100%;
  }
  100% {
    transform: translateY(100%) translateZ(100px) rotateX(180deg);
    transform-origin: 50% 0%;
  }
}
@keyframes flip-2-hor-bottom-fwd {
  0% {
    transform: translateY(0) translateZ(0) rotateX(0);
    transform-origin: 50% 100%;
  }
  100% {
    transform: translateY(100%) translateZ(100px) rotateX(180deg);
    transform-origin: 50% 0%;
  }
}